#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@

override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/apsynsim/usr/share/apsynsim/SCRIPT/APSYNSIM_Python3.py

override_dh_python3:
	dh_python3 --shebang=/usr/bin/python3
