#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@

override_dh_fixperms:
	dh_fixperms
	sed  -i '1i #!/usr/bin/python3' debian/apsynsim/usr/share/apsynsim/SCRIPT/APSYNSIM.py
	chmod 755 debian/apsynsim/usr/share/apsynsim/SCRIPT/APSYNSIM.py
	sed  -i '1i #!/usr/bin/python3' debian/apsyntrue/usr/share/apsyntrue/SCRIPT/APSYNTRUE.py
	chmod 755 debian/apsyntrue/usr/share/apsyntrue/SCRIPT/APSYNTRUE.py


override_dh_installdocs:
	mkdir debian/apsynsim/usr/share/doc
	mkdir debian/apsynsim/usr/share/doc/apsynsim/
	cp *.pdf debian/apsynsim/usr/share/doc/apsynsim/
